Repository LeoQ9904/back-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "src/**/*.{ts,js}": [
        "eslint --fix",
        "prettier --write"
    ],
    "test/**/*.{ts,js}": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.{json,md,yml,yaml}": [
        "prettier --write"
    ]
}

test: add test file to verify commit validation
  test-file.ts
Due: none

chore: remove test file
  test-file.ts
Due: none

fix: update configuration files and test setup
  .lintstagedrc
  .prettierrc
  eslint.config.mjs
  test-file.ts
  test/app.e2e-spec.ts
Due: eslint --fix, prettier --write

docs: se agrega consfiguración para manejo de git flow
  GIT-ALIASES.md
  GIT-FLOW.md
  README-ES.md
  package.json
Due: prettier --write

feat: agregar Dockerfile para configuración del entorno
  Dockerfile
Due: none

feat: implement products module with MongoDB and Swagger documentation
  .env.example
  docker-compose.yml
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
  src/products/dto/create-product.dto.ts
  src/products/dto/product-response.dto.ts
  src/products/dto/update-product.dto.ts
  src/products/products.controller.spec.ts
  src/products/products.controller.ts
  src/products/products.module.ts
  src/products/products.service.spec.ts
  src/products/products.service.ts
  src/products/schemas/product.schema.ts
  src/scripts/seed-products.ts
Due: eslint --fix, prettier --write

refactor: restructure Dockerfile for multi-stage builds to optimize image size
  Dockerfile
Due: none

feat: add Docker and Render configuration, enhance application health checks
  .dockerignore
  Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  package.json
  render.yaml
  src/app.controller.ts
  src/config/env.ts
  src/customers/schemas/customer.schema.ts
Due: eslint --fix, prettier --write

feat: update Dockerfile and configuration for production, add health check
  .dockerignore
  .pnpmfile.cjs
  Dockerfile
  package.json
Due: prettier --write

feat: enhance cart functionality with CRUD operations and product management
  src/carts/cart.controller.ts
  src/carts/cart.service.ts
  src/carts/dto/cart-product.dto.ts
  src/carts/dto/create-cart.dto.ts
  src/carts/dto/update-cart.ts
  src/carts/schema/cart.schema.ts
Due: eslint --fix, prettier --write
